PyGObject==3.48.2
arrow==1.4.0
Flask
flask_cors
flask_httpauth
flask_socketio
ifaddr==0.2.0
inotify==0.2.12
louie==2.0.1
lxml==6.1.0
Markdown
musicbrainzngs==0.7.1
mutagen==1.47.0
natsort==8.4.0
opml==0.5
Pillow
pulsectl==24.12.0
pyOpenSSL==26.2.0
pypandoc==1.17
python-slugify==8.0.4
python_dateutil==2.9.0.post0
Requests==2
simplejson
six
Twisted==21.2.0
Werkzeug
zipstream
pulsectl
pymongo==4.6.1
bson==0.5.10
eventdispatcher==1.9.4
itsdangerous==1.1.0
markupsafe==2.0.1
autobahn==21.3.1
python-libdiscid
