[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - flyte/upnpclient: uPnP client library for Python 3.
Comment=
Icon=user-bookmarks
URL=https://github.com/flyte/upnpclient
